# This file is managed by code-skeleton. Do not make changes.
name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # "At 09:00 UTC (02:00 PT) on Monday" https://crontab.guru/#0_9_*_*_1
    - cron: "0 9 * * 1"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Update npm
        run: npm i --prefer-online --no-fund --no-audit -g npm@latest
      - name: Install dependencies
        run: npm i --no-audit --no-fund
      - name: Lint
        run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Update npm
        run: npm i --prefer-online --no-fund --no-audit -g npm@latest
      - name: Install dependencies
        run: npm i --no-audit --no-fund
      - name: Add tap problem matcher
        run: echo "::add-matcher::.github/matchers/tap.json"
      - name: Test
        run: npm test --ignore-scripts
